<div class="container" style="margin-top: 100px;">
        <div class="row" style="height: 100%;">
            <div class="col-4" style="max-width: 15%; ">
                <h5>Github Login</h5>
                <a class="nav-link" href="/gitlogin">Login with Github </a>
            </div>
            <div class="col-8">
                <h1 ><span class="badge badge-secondary">Admin Control Panel</span></h1>
                    <div class="form-group">
                            <label for="usr">Github Username</label>
                            <input  type="text" class="form-control" id="user">
                            <button  onclick="getRepo()" type="button" class="btn btn-info">Search</button>
                    </div>
                <div>
                    <ul class="list-group" id="respdisplay">

                    </ul>
                </div>
            </div>
        </div>
    
    </div>